// start reviews-page
.reviews-page {
    background-color: $color-white;
    padding: 95px 0 85px;
}

.reviews-page__wrapper {

    .reviews-page__title {
        font-size: 30px;
        font-family: "MullerBold";
        color: $color-2;
        margin-bottom: 65px;
        text-align: center;
        margin: 0 auto;
    }

    .reviews-page__tabs {
        .tabs {
            text-align: center;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            .tab {
                padding: 10px;
                text-transform: uppercase;
                cursor: pointer;
                font-size: 14px;
                color: $color-2;
                font-family: "MullerMedium";
                margin-bottom: 50px;
            }

            .tab+.tab {
                margin-right: 20px;
            }

            .tab.active {
                border: 2px solid $color-3;
                border-radius: 5px;
                color: $color-3;
            }

            .tab:hover {
                color: $color-3;
            }

            .tab:first-child {
                margin-right: 20px;
            }
        }

        .tab-item {
            display: none;
        }

        .tab-item:first-child {
            display: block;
        }

        .tab_content {
            width: 1050px;
        }

        .tab-box__video {
            display: block;
            width: 300px;
            height: 210px;
            margin-bottom: 10px;
        }
    }
}

.tab-box__title {
    font-size: 13px;
    font-family: "MullerLight";
    color: $color-2;
    text-align: left;
    width: 290px;
}

.tab-box__title:hover {
    color: $color-3;
    text-decoration: underline;
}






// end reviews-page